body {
  background-color: rgb(240, 206, 138);
  font-family: "Times New Roman", Times, serif;
  min-height: 100vh;
}

main {
  margin: 10px;
}

/*Home page background*/

#index-body {
  background-image: url("assets/img/20240105_175619.jpg");
  background-size: cover;
  background-color: rgb(43, 42, 40);
}

#index-main {
  background-color: rgb(255, 255, 255);
  color: black;
  width: 40%;
  margin: 10px;
  margin-bottom: 500px;
  padding: 10px;
  border: 10px groove rgb(104, 103, 103);
}

#index-header {
  opacity: 0.5;
  background-color: transparent;
  border: 0px;
}

.price {
  display: inline;
}

header {
  display: flex;
  background-color: rgb(196, 194, 194);
  padding: 1%;
  border: 1px solid;
}

header ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

header li {
  display: flex;
}
.topright-link {
  padding: 20px;
  width: 20%;
  border: 1px solid;
  padding-inline: 12px;
  text-decoration: none;
  color: black;
  list-style-type: none;
  background-color: white;
  width: 120px;
  text-align: center;
  margin-right: 20px;
}

p {
  display: inline-block;
}

.isaac {
  display: flexbox;
  width: 20%;
  height: 30%;
}

.isaac img {
  max-width: 100%;
  max-height: 100%;
}

footer {
  background-color: white;
  padding: 10px;
  max-height: 300px;
}

footer ul {
  padding: 0;
  display: flex;
  justify-content: space-around;
}

footer li {
  display: flex;
  text-align: center;
}

.bottom-link {
  list-style-type: none;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 160px;
  border: 1px solid;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  justify-content: center;
}

.bag-items {
  display: inline-block;
}
